.informacion {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.info__titulo {
  width: 100%;
  font-size: 5rem;
  font-weight: bold;
}

.info_subtitulo {
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
}

.info__enlaces {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 2rem;

  & .enlaces__items {
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: 0.1rem solid gray;
    border-radius: 0.5rem;
  }

  & .enlaces__github {
    font-size: 1.6rem;
    background-color: #202020;
  }

  & .enlaces__linkedin {
    font-size: 1.6rem;
    background-color: rgb(21, 66, 212);
  }
}

.info__descripcion {
  width: 95%;
  font-size: 1.6rem;
  text-indent: 2rem;
  color: lightgray;
}
