.pie_pagina {
  height: 5dvh;
  background-color: var(--colorfondo);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pie_pagina__texto {
  font-size: 1.2rem;
  text-align: center;
}
