<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yaqui-Sieras</title>
    <!-- Icono -->
    <link rel="icon" type="image/png" href="./../../assets/img/icons8-32.png">
    <!-- CSS Estaticos -->
    <link rel="stylesheet" href="./../../css/base/miReset.css">
    <link rel="stylesheet" href="/../../css/pages/index.css">
</head>

<body>
    <div class="pag">
        <header class="pag__cabecera"></header>
        <div class="pag__contenedor">
            <main class="contenedor__main"></main>
            <aside class="contenedor__sidebar"></aside>
        </div>
        <footer class="pag__pie">
            <p class="pie__texto">
                &copy; 2024 Yaqui-Sieras
            </p>
        </footer>
    </div>
    <!-- JS Estaticos -->
    <script src="./../../js/pages/index.js"></script>
</body>

</html>