.presentacion {
  width: 90%;
  padding: 1.5rem;
  background-color: #202020;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-evenly;
  gap: 1rem;
}

.presentacion__informacion {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  & .informacion__cabecera {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
  }

  & .informacion__cuerpo {
    width: 100%;
  }
}

.cabecera__titulo {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;

  & .cabecera__github {
    font-size: 2.5rem;
    text-align: center;
    padding: 0.5rem;
    background-color: #1d1d1d;
    border-radius: 1rem;
  }
}

.cabecera__subtitulo {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.presentacion__imagen {
  max-width: 35%;
  border-radius: 5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
